<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title><%= title %></title>
    <script src="js/script.js"></script>

    <!-- Icons -->
    <script src="https://kit.fontawesome.com/79c30556be.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div id="top-section" class="top-section">
            <h1><%= title %></h1>
            <p><%= message %></p>
            <div id="icon-box" class="icon-box">
                <a href="javascript:void(0);" id="hamburger" class="icon" onclick="toggleHamburgerMenu()">
                    <i class="fa-solid fa-bars"></i>
                </a>
                <a href="javascript:void(0);" id="close" class="icon hidden" onclick="toggleHamburgerMenu()">
                    <i class="fa-solid fa-xmark"></i>
                </a>
            </div>
        </div>
        <div id="navbar" class="navbar">
            <ul>
                <li><a href="/">Bookshelf</a></li>
                <li><a href="search">Search</a></li>
                <li><a href="dashboard">Dashboard</a></li>
                <!-- <li><a href="favorites">Favourites</a></li> -->
            </ul>
        </div>
    </header>