<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>Z's Bookshelf</title>
    <script src="js/script.js"></script>

    <!-- Icons -->
    <script src="https://kit.fontawesome.com/79c30556be.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div id="top-section" class="top-section">
            <h1>Welcome to your Bookshelf</h1>
            <a href="javascript:void(0);" id="hamburger" class="icon" onclick="openHamburger()">
                <i class="fa-solid fa-bars fa-2xl" style="color: #000000;"></i>
            </a>
            <a href="javascript:void(0);" id="close" class="icon" onclick="closeHamburger()">
                <i class="fa-solid fa-x" style="color: #000000;"></i>
            </a>
        </div>
        <p>Use this website to log your reading progress, write reviews and key lessons you've learned for maximum retention.</p>
    </header>
    <div id="navbar" class="navbar">
        <ul>
            <li><a href="javascript:void(0)" class="active">Bookshelf</a></li>
            <li><a href="reviews">Reviews</a></li>
            <li><a href="favorites">Favourites</a></li>
        </ul>
    </div>
    <div id="bookshelf" class="bookshelf"></div>
</body>
</html>