<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Z's Bookshelf</title>
</head>
<body>
    <header>
        <h1>Welcome to your Bookshelf</h1>
        <p>Use this website to log your reading progress, write reviews and key lessons you've learned for maximum retention.</p>
    </header>
    <div id="navbar" class="navbar">
        <ul>
            <li><a href="index" class="active">Bookshelf</a></li>
            <li><a href="reviews">Reviews</a></li>
            <li><a href="favorites">Favourites</a></li>
        </ul>
    </div>
    <div id="bookshelf" class="bookshelf"></div>
</body>
</html>