<%- include ('partials/header', { title }) -%>

<div id="bookshelf" class="bookshelf">
    <% try { %>
        <% books.forEach(book => { %>     
            <section class = "book" id = "book">
                <p><%= book.cover %></p> 
            </section>
        <% }) %>
    <% } catch (error) { %>
        <p>No books available.</p>
    <% } %>
</div>

<%- include ('partials/footer') -%>