<%- include ('partials/header', { title }) -%>

<div id="search" class="search">
    <form action="/search" method="GET">
        <input type="text" id="query" name ="query" placeholder="Enter a book title"> <br>
    </form>
</div>

<div id="searchResults" class="searchResults">
    <!-- Example Book Card
    <div class="bookCard">
        <img src="https://covers.openlibrary.org/b/id/13140934-M.jpg" alt="Women in Love cover">
        <p>Women in Love</p>
        <p>D. H. Lawrence</p>
        <p>1877</p>
    </div>
     -->
</div>

<%- include ('partials/footer') -%>