/* when portrait view */
@media only screen and (max-width: 768px) {
    /* Show hamburger menu */
    p {
        color: red;
    }
    #close {
        z-index: 1;
        visibility: hidden;
    }
    #hamburger {
        z-index: 2;
    }
    /* TODO: Add a close button which will work as the anchor for nav elements */
    /* .close-button{
        anchor-name: --closeAnchor;
    } */
    .navbar {
        position: fixed;
        /* position-anchor: --closeAnchor;  */
        visibility: hidden;
        /* animation: hamburgerSlide 3s; */
    }

    /* TODO: Animate slide from right to 75% of page (create layout for nav bar) */
    @keyframes hamburgerSlide {
        0% {
            transform: translate(75%);
        }
    }
}

@media only screen and (min-width: 769px) {
    /* No hamburger menu */
    .icon {
        visibility: hidden;
    }
    p {
        color: blue;
    }
}

header {
    margin-left: 10px;
    margin-right: 10px;
}

.top-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

a.active {
    color: black;
}